@import "./variables.less";

body {
   font-family: 'Roboto', sans-serif;
    color: @text-color;
    h1 {
        display: none;
        h2 {
        font-size: 30px;
        font-weight: 500;
            p {
                font-size: 16px;
                font-weight: 400;
            }
        }   
    }
}



nav {
    background-color: @background;
    padding: @space * 2;
    ul {
        display: flex;
        li {
            display: inline-block;
            text-decoration: none;
            align-items: flex-start;
            align-content: space-between;
            padding-right: @space;
        }
        :last-child {
            color: @span-color;
            text-transform: uppercase;
        }
    }
}

button {
    background-color: @background;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
}

#secondary-background {
    background-color: @secondary-background;
}

footer {
    background-color: @footer-background;
    border-top: .5rem solid @background;
}